
.hero-home {
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.5)), url('/images/6461.jpg');
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}
.hero-products {
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.5)), url('../public/images/home-instructor.jpg');
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}

.parent-hidden-child .hidden-child{
    visibility: hidden;
}
.parent-hidden-child:hover .hidden-child{
    visibility: visible;
}